.App {
  text-align: center;
  background-color:black;
  font-family: 'Monaco',monospace;
  
}

.mainpage{
  background-color:black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.imageContainer {

  display: block;
  position: relative;
  text-align: center;
  color: white;
}

.left{
  position: absolute;
  font-size: 70px;
  top: 25px;
  left: 16px;
}

/* ====Footer====  */

.columns {
  width: 750px;
  display:flex;
  padding: 10px 0;
}

ul {
  list-style:none;
  padding-left:20;

}
footer {
  background-color: #212529;
  line-height: 2;

}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: 	grey;
}

.column {
  padding: 0 35px;;
}

body {
  display:flex;
  min-height: 90vh;
  flex-direction: column;
}

.container {
  flex:1;
}